### Opening and creating different tables

In [1]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
hr_dataset = pd.read_csv('../data/HR_dataset/HR_Dataset_clean.csv', index_col=0)
pd.options.display.max_columns = None
hr_dataset.head(2)

,Employee_Name,EmpID,Married,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Term,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,No,0,1,1,5,4,No,62506,No,19,Production Technician I,MA,1960,1983-07-10,M,Single,US Citizen,No,White,2011-07-05,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22,LinkedIn,Exceeds,4.60,5,0,2019-01-17,0,1
1,"Ait Sidi, Karthikeyan",10084,Yes,1,1,5,3,3,No,104437,Yes,27,Sr. DBA,MA,2148,1975-05-05,M,Married,US Citizen,No,White,2015-03-30,2016-06-16,career change,Voluntarily Terminated,IT/IS,Simon Roup,4,Indeed,Fully Meets,4.96,3,6,2016-02-24,0,17

Splitting information:
- Creating working profile
- Creating personal profile table
- Creating recruitment table
- Creating performance table
- Creating engagement table
- Creating absenteeism table
- Creating attrition table
- Creating department table
- Creating position table
- Creating manager table
- Creating marital_status table
- Creating gender table

In [3]:
hr_dataset.columns

Index(['Employee_Name', 'EmpID', 'Married', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Term', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [4]:
# Creating a dictionaire with the table names as keys and the columns of the original dataframe as values:
col_table = {'manager': ['ManagerID', 'ManagerName'],
            'position': ['PositionID', 'Position','Department'],
            'department': ['DeptID', 'Department'],
            'marital_status': ['MaritalStatusID', 'MaritalDesc', 'Married'],
            'gender': ['GenderID', 'Sex'], 
            'working_profile': ['EmpID', 'Term', 'DateofHire', 'Salary', 'DeptID', 'PositionID', 'ManagerID', 'SpecialProjectsCount'],
            'personal_profile': ['EmpID', 'Employee_Name', 'DOB', 'MaritalStatusID','GenderID', 'FromDiversityJobFairID', 'CitizenDesc', 'RaceDesc', 'HispanicLatino', 'State', 'Zip'],
            'recruitment': ['EmpID', 'RecruitmentSource'],
            'performance_employee': ['EmpID', 'LastPerformanceReview_Date', 'PerformanceScore'],
            'engagement': ['EmpID', 'EngagementSurvey', 'EmpSatisfaction'],
            'absenteeism': ['EmpID', 'DaysLateLast30', 'Absences'],
            'attrition': ['EmpID', 'EmploymentStatus', 'DateofTermination', 'TermReason']}

In [5]:
# creating a csv for each table of the dictionaire:
base_directory = '../data/HR_dataset/'
os.makedirs(base_directory, exist_ok= True)
dataframes_dict = {}

for table_name, columns in col_table.items():
    dataframe = hr_dataset[columns]
    dataframes_dict[table_name] = hr_dataset[columns]
    output_path = os.path.join(base_directory, f"{table_name}.csv")
    dataframe.to_csv(output_path, index=False)

for table_name, dataframe in dataframes_dict.items():
    globals()[table_name] = dataframe

___
Cleaning the new global tables:

In [6]:
department.drop_duplicates(inplace= True)
department.sort_values('DeptID')
department.to_csv('../data/HR_dataset/department.csv', index=False)

In [7]:
position.drop_duplicates(inplace= True)
position.sort_values('PositionID')
position.to_csv('../data/HR_dataset/position.csv', index=False)

In [8]:
manager.drop_duplicates(inplace= True)
manager.sort_values('ManagerID')
manager.to_csv('../data/HR_dataset/manager.csv', index=False)

In [9]:
gender.drop_duplicates(inplace= True)
gender.sort_values('GenderID')
gender.to_csv('../data/HR_dataset/gender.csv', index=False)

In [10]:
marital_status.drop_duplicates(inplace= True)
marital_status.sort_values('MaritalStatusID')
marital_status.to_csv('../data/HR_dataset/marital_status.csv', index=False)

In [11]:
attrition.head()

   EmpID        EmploymentStatus DateofTermination         TermReason
0  10026                  Active               NaN  N/A-StillEmployed
1  10084  Voluntarily Terminated        2016-06-16      career change
2  10196  Voluntarily Terminated        2012-09-24              hours
3  10088                  Active               NaN  N/A-StillEmployed
4  10069  Voluntarily Terminated        2016-09-06   return to school

In [12]:
attrition = attrition[attrition["EmploymentStatus"] != "Active"]
attrition.to_csv('../data/HR_dataset/attrition.csv', index=False)

___
#### For Database creation, let's create the column type (database creation in jupyter `3.Creating_SQL_database`)

In [13]:
# checking types:
col_types = hr_dataset.dtypes.reset_index()
col_types[0]

0      object
1       int64
2      object
3       int64
4       int64
5       int64
6       int64
7       int64
8      object
9       int64
10     object
11      int64
12     object
13     object
14      int64
15     object
16     object
17     object
18     object
19     object
20     object
21     object
22     object
23     object
24     object
25     object
26     object
27      int64
28     object
29     object
30    float64
31      int64
32      int64
33     object
34      int64
35      int64
Name: 0, dtype: object

In [14]:
def conv_sql_type_custom(value):
    if value == 'object':
        return 'VARCHAR(255)'
    elif value == 'int64':
        return 'INT'
    elif value == 'float64':
        return 'FLOAT'
    else:
        return value

col_types['SQL_conv'] = col_types[0].apply(conv_sql_type_custom)

In [15]:
col_types.to_csv('../data/HR_dataset/conversion_sql.csv')